/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  border: 4px solid gray;
  border-radius: 15px;
  padding: 2px;
  padding-bottom: 0px;
}

/* Make the image responsive */
img {
  max-width: 750px;
  max-height: 500px;
  border-radius: 12px;
  /* height: 70%; */
}

/* Style the button and place it in the middle of the container/image */
.btn1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  /* border: none; */
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: black;
}

.btn1 {
  background: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/162cd9b350a6582.png")
    no-repeat;
  background-position: center;
  background-size: 300px;
  width: 196px;
  height: 70px;
  border: 4px solid rgba(14, 14, 22, 0.7);
  padding: 0;
}

.charContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 750px;
  border: 4px solid gray;
  border-radius: 15px;
  padding: 5px;
}

.charSelectBar {
  display: flex;
  flex-direction: column;
  height: 370px;
  /* border: 1px solid gray; */
}

.charButtonDiv {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 10px;
}

.charButton {
  width: 20%;
  border-radius: 10px;
  text-align: center;
  border: 4px dotted gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.charButton:hover {
  border: 4px solid black;
  border-radius: 10px;
}

.charContainer {
  /* background-color: rgb(223, 239, 245); */
  background-color: #e9efff;
}

.charStat {
  min-height: 250px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 10px;
}

.charTable td,
.charTable th {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
}

.charClassDetail {
  padding-right: 70px;
}

.charTable th {
  background-color: #04aa6d;
  color: white;
}

#charImage {
  min-height: 150px;
  margin: 10px auto;
  border-radius: 12px;
}

.charWeapon {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.weaponImg {
  /* height: 70%; */
  width: 60px;
}

.goButton {
  min-height: 40px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 20px;
}

.weaponP {
  overflow-wrap: normal;
}
/* @media only screen and (max-width: 375px) {
    .container {
      width: 100%;
    }
  
    #title-image {
      object-fit: cover;
      width: 100%;
    }
  
    .charContainer {
      width: 100%;
      margin: 0 auto;
    }
  
    .colorSelectBar {
      width: 90%;
    }
    .colorButton {
      width: 100px;
    }
  } */

/* ////////////////////////////////////////////////////////////
  page 3 - maps
  //////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////
  page 4 - fights
  //////////////////////////////////////////////////////////// */
.fightContainer {
  display: flex;
  margin: 0 auto;
  width: 750px;
  gap: 30px;
}

/* * {
    border: 1px dotted gold;
  } */

.dice {
  width: 100px;
}

.enemyHealthBarDisplay {
  font-weight: bolder;
}

.charHealthBarDisplay {
  font-weight: bolder;
}
