/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  border: 4px solid gray;
  border-radius: 15px;
  padding: 2px;
  padding-bottom: 0px;
}

/* Make the image responsive */
img {
  max-width: 750px;
  max-height: 500px;
  border-radius: 12px;
  /* height: 70%; */
}

/* Style the button and place it in the middle of the container/image */
.btn1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  /* border: none; */
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: black;
}

.btn1 {
  background: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/162cd9b350a6582.png")
    no-repeat;
  background-position: center;
  background-size: 300px;
  width: 196px;
  height: 70px;
  border: 4px solid rgba(14, 14, 22, 0.7);
  padding: 0;
}

.charContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 750px;
  border: 4px solid gray;
  border-radius: 15px;
  padding: 5px;
}

.charSelectBar {
  display: flex;
  flex-direction: column;
  height: 370px;
  /* border: 1px solid gray; */
}

.charButtonDiv {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 10px;
}

.charButton {
  width: 20%;
  border-radius: 10px;
  text-align: center;
  border: 4px dotted gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.charButton:hover {
  border: 4px solid black;
  border-radius: 10px;
}

.charContainer {
  /* background-color: rgb(223, 239, 245); */
  background-color: #e9efff;
}

.charStat {
  min-height: 250px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 10px;
}

.charTable td,
.charTable th {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
}

.charClassDetail {
  padding-right: 70px;
}

.charTable th {
  background-color: #04aa6d;
  color: white;
}

#charImage {
  min-height: 150px;
  margin: 10px auto;
  border-radius: 12px;
}

.charWeapon {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.weaponImg {
  /* height: 70%; */
  width: 60px;
}

.goButton {
  min-height: 40px;
  width: 80%;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 20px;
}

.weaponP {
  overflow-wrap: normal;
}
/* @media only screen and (max-width: 375px) {
    .container {
      width: 100%;
    }
  
    #title-image {
      object-fit: cover;
      width: 100%;
    }
  
    .charContainer {
      width: 100%;
      margin: 0 auto;
    }
  
    .colorSelectBar {
      width: 90%;
    }
    .colorButton {
      width: 100px;
    }
  } */

/* ////////////////////////////////////////////////////////////
  page 3 - maps
  //////////////////////////////////////////////////////////// */
.mapContainer {
  background-image: url("assets/alberto-garcia-pixel-world-map.gif");
  width: 750px;
  height: 450px;
  background-size: cover;
  border: 4px solid gray;
  position: relative;
  margin: 0 auto;
  border-radius: 15px;
  padding: 2px;
}

#mapCanvas {
  position: absolute;
}

.nodeButton {
  height: 50px;
  width: 50px;
}

.nodeVisited {
  filter: brightness(60%);
}

#map-btn0 {
  position: absolute;
  left: 15%;
  top: 83%;
  background: url("assets/Home.png");
  background-size: cover;
}

#map-btn1 {
  position: absolute;
  left: 11%;
  top: 60%;
  background: url("assets/Forest.png");
  background-size: cover;
}

#map-btn2 {
  position: absolute;
  left: 8%;
  top: 30%;
  background: url("assets/Tavern.png");
  background-size: cover;
}

#map-btn3 {
  position: absolute;
  left: 45%;
  top: 6%;
  background: url("assets/Tower.png");
  background-size: cover;
}

#map-btn4 {
  position: absolute;
  left: 72%;
  top: 29%;
  background: url("assets/Cave.png");
  background-size: cover;
}

#map-btn5 {
  position: absolute;
  left: 68%;
  top: 76%;
  background: url("assets/Village.png");
  background-size: cover;
}

#map-btn6 {
  position: absolute;
  left: 47%;
  top: 47%;
  background: url("assets/Graveyard.png");
  background-size: cover;
}

.itemBar {
  border: 2px solid gray;
  height: 50px;
  width: fit-content;
  display: flex;
  margin-left: auto;
  border-radius: 12px;
  background-color: lightgray;
  padding: 3px;
}

.itemIcon {
}

/* /////////// 3.0 Home */
.homeContainer {
  background: url("assets/Home_bg.png");
  background-size: cover;
  margin: 0 auto;
  width: 750px;
  height: 450px;
  border: 4px solid gray;
  border-radius: 12px;
}

.homeText {
  background-color: black;
  color: white;
  width: 75%;
  height: 12%;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  opacity: 0.9;
  margin: 0 auto;
  margin-top: 30px;
}

.homeItemContainer {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  gap: 25px;
}

.homeItem {
  width: 30%;
  height: 70%;
  border: 3px solid black;
  border-radius: 12px;
  padding-top: 85px;
  font-size: larger;
  font-weight: 700;
}

/* ///////////3.1 forest */
#forest {
  background: url("assets/Forest_bg.png");
}

/* ///////////3.2 tavern */
#tavern {
  background: url("assets/Tavern_bg.png");
}

/* ///////////3.3 tower */
#tower {
  background: url("assets/Tower_bg.png");
}

/* ///////////3.4 cave */
#cave {
  background: url("assets/Cave_bg.png");
}

/* ///////////3.5 village */
#village {
  background: url("assets/Village_bg.png");
}

/* ///////////3.6 graveyard */
#graveyard {
  background: url("assets/Graveyard_bg.png");
}

/* ////////////////////////////////////////////////////////////
  page 4 - fights
  //////////////////////////////////////////////////////////// */
.fightContainer {
  display: flex;
  margin: 0 auto;
  width: 750px;
  height: 450px;
  border: 4px solid gray;
  border-radius: 12px;
  gap: 15px;
}

.charFightContainer {
  width: 30%;
  margin-left: 10px;
  background-color: rgba(205, 205, 205, 0.55);
  margin-top: 10px;
  border-radius: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.enemyContainer {
  width: 30%;
  background-color: rgba(205, 205, 205, 0.55);
  height: fit-content;
  margin-top: 10px;
  border-radius: 12px;
  padding-left: 10px;
}

.battleLogContainer {
  width: 30%;
  border: 2px dashed gray;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: rgba(205, 205, 205, 0.55);
}

.battleLog {
  height: 400px;
  overflow: auto;
}

/* * {
    border: 1px dotted gold;
  } */

.dice {
  width: 66px;
}

.enemyHealthBarDisplay {
  font-weight: bolder;
}

.charHealthBarDisplay {
  font-weight: bolder;
}

/* healthbar */
.healthBarBg {
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  background: #ddd;
  border-radius: 5px;
  padding: 5px;
}

.charHealthBar,
.enemyHealthBar {
  height: 10px;
  width: 100%;
  background-color: red;
  border-radius: 5px;
  transition: width 0.5s linear;
}

.charStatusContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.charDef,
.charAtk {
  text-align: center;
  background: url(assets/defense.png);
  height: 28px;
  width: 35px;
  background-repeat: no-repeat;
  font-size: x-large;
  text-shadow: 0 0 2px white, 0 0 5px black;
  color: antiquewhite;
}

.charAtk {
  background: url(assets/attack.png);
  background-repeat: no-repeat;
}
